<ion-router-outlet></ion-router-outlet>
<app-top-header
  [title]="'Form Delivery'"
  [type]="'toolbar-blue'"
  [withBackButton]="'/pages/delivery'"
></app-top-header>

<ion-content [fullscreen]="true">
  <div class="container mt-3 mb-3">
    <form [formGroup]="formData" (ngSubmit)="logForm()">
      <div class="row" style="font-size: 14px">
        <!-- Start Production Schedulle -->

        <div class="col-12 mb-3">
          <ion-label position="stacked" class="required"
            >Unit Produksi</ion-label
          >
          <app-input-select
            [uri]="'production-units'"
            [controlName]="'production_unit_id'"
            [placeholder]="'Data Plant'"
          ></app-input-select>
        </div>

        <div class="col-12 mb-3 mt-3">
          <ion-label position="stacked" class="">Tanggal Pengiriman</ion-label>
          <app-input-date
            [mode]="'single'"
            [controlName]="'date'"
            [disabled]="true"
          ></app-input-date>
        </div>

        <div class="col-12 mb-3">
          <ion-label position="stacked" class="required">Equipment</ion-label>
          <app-input-select
            [uri]="'equipments'"
            [controlName]="'equipment_id'"
            [placeholder]="'Data Kendaraan'"
          ></app-input-select>
        </div>

        <div class="col-12 mb-3">
          <ion-label position="stacked" class="required">Pelanggan</ion-label>
          <app-input-select
            [uri]="'customers'"
            [controlName]="'customer_id'"
            [placeholder]="'Data Pelanggan'"
          ></app-input-select>
        </div>

        <div class="col-12 mb-3">
          <ion-label position="stacked" class="required"
            >Lokasi Proyek</ion-label
          >
          <app-input-select
            [uri]="'customer-projects?customer_id='+formData.controls['customer_id'].value"
            [controlName]="'customer_project_id'"
            [placeholder]="'Data Project'"
          ></app-input-select>
        </div>

        <div class="col-12 mb-3">
          <ion-label position="stacked" class="required">Driver</ion-label>
          <app-input-select
            [uri]="'drivers'"
            [controlName]="'driver_id'"
            [placeholder]="'Data Driver'"
          ></app-input-select>
        </div>

        <div class="col-12 mb-3">
          <ion-label position="stacked">Jarak Pengiriman</ion-label>
          <ion-input
            disabled="true"
            formControlName="distance"
            class="form-input bg-light text-black disabled"
          ></ion-input>
        </div>

        <div class="col-12 mb-3">
          <ion-label position="stacked" class="required">Produk</ion-label>
          <app-input-select
            [uri]="'products'"
            [controlName]="'product_id'"
            [controlNameArray]="'product'"
            [placeholder]="'Data Product'"
          ></app-input-select>
        </div>

        <div class="col-12 mb-3">
          <ion-label position="stacked" class="required"
            >Nomor Pengiriman</ion-label
          >
          <ion-input
            formControlName="docket_number"
            class="form-input"
            placeholder="Ketikkan Nomor Pengiriman disini..."
          ></ion-input>
        </div>

        <div class="col-12 mb-3">
          <ion-label position="stacked" class="required"
            >Nomor Pembelian</ion-label
          >
          <ion-input
            formControlName="purchase_order"
            class="form-input"
            placeholder="Ketikkan Nomor Pembelian disini..."
          ></ion-input>
        </div>

        <div class="col-12 mb-3">
          <ion-label position="stacked" class="required"
            >Faktur Pembelian</ion-label
          >
          <ion-input
            formControlName="invoice_number"
            class="form-input"
            placeholder="Ketikkan Faktur Pembelian disini..."
          ></ion-input>
        </div>

        <div class="col-12 mb-3">
          <ion-label position="stacked" class="required"
            >Jumlah Kuantitas</ion-label
          >
          <ion-input
            formControlName="quantity"
            type="number"
            class="form-input"
            placeholder="Ketikkan Jumlah disini..."
          ></ion-input>
        </div>

        <div class="col-12 mb-1">
          <ion-label position="stacked" class="required">Total Harga</ion-label>
          <ion-input
            formControlName="total_net_price_rupiah"
            type="text"
            class="form-input bg-light text-black disabled"
            disabled="true"
            placeholder="Rp. 0"
          ></ion-input>
        </div>
      </div>
    </form>
  </div>
</ion-content>
<ion-footer style="padding: 10px; background-color: #ffffff !important">
  <ion-button
    type="submit"
    style="width: 100%"
    (click)="logForm()"
    [disabled]="formData.status != 'VALID'"
    >Simpan Data</ion-button
  >
</ion-footer>
