<ion-router-outlet></ion-router-outlet>
<app-top-header [title]="'Detail Fuel Usage'" [type]="'toolbar-blue'" [withBackButton]="'/pages/fuel'"></app-top-header>


<ion-content [fullscreen]="true">
  <div class="container mt-3 mb-3">
    <div class="row">
      <div class="col-12 bg-light px-6 py-3">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <p class="text-muted mb-0">
              {{ detail.date | date }} <b>{{ detail.equipment_category_id_name }}</b>
            </p>
            <p class="mb-0 text-w-700">
              {{ detail.equipment_id_code }}, {{ detail.equipment_id_vehicle_number }}
            </p>
            <p class="text-sm mb-0">{{ detail.driver_id_name }}</p>
          </div>
          <div>
            <p class="mb-0 text-w-700 text-primary">{{ detail.quantity }}</p>
            <p class="mb-0 text-primary">KM</p>
          </div>
        </div>
        <p class="text-sm text-black mt-3 mb-0">Data Pengisi Solar</p>
        <p class="text-sm text-black mt-2">
          {{ detail.created_by_name ?? "ADMIN" }}
        </p>

        <ion-button
          class="btn btn-sm text-white p-0"
          (click)="navCtrl.navigateForward('/pages/fuel/detail/usage/history/equipment?equipment_id='+detail.equipment_id)"
        >
          <ion-icon
            name="refresh-circle-outline"
            class="text-white"
            style="font-size: 20px; margin-right: 1rem"
          ></ion-icon
          >Riwayat Equipment</ion-button
        >
        <ion-button
          class="btn btn-sm text-white p-0"
          (click)="navCtrl.navigateForward('/pages/fuel/detail/usage/history/driver?driver_id='+detail.driver_id)"
        >
          <ion-icon
            name="person"
            class="text-white"
            style="font-size: 20px; margin-right: 1rem"
          ></ion-icon
          >Riwayat Driver</ion-button
        >
      </div>
    </div>
  </div>
</ion-content>
