<ion-router-outlet></ion-router-outlet>
<ion-content [fullscreen]="true">
  <ion-card class="card-header">
    <ion-card-content>
      <div class="d-flex flex-row justify-content-start align-items-center">
        <ion-icon
          name="return-up-back-outline"
          class="text-white"
          style="font-size: 24px; margin-right: 1rem"
          (click)="go('/pages/fuel')"
        ></ion-icon>
        <h5 class="text-white text-w-600">Tambah Penerimaan Solar</h5>
        <div class="text-black" hidden>
          <ion-icon name="filter" color="white" class="mx-3"></ion-icon>
          <ion-icon name="search" color="white"></ion-icon>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <div class="container mt-3 mb-3">
    <form [formGroup]="formData" (ngSubmit)="logForm()">
      <div class="row" style="font-size: 14px">
        <!-- Start Production Schedulle -->
        <div class="col-12 mb-3">
          <ion-label position="stacked">Unit Produksi</ion-label>
          <app-input-select
            [uri]="'production-units'"
            [controlName]="'production_unit_id'"
            [placeholder]="'Data Plant'"
          ></app-input-select>
        </div>

        <div class="col-12 mb-3 mt-3">
          <ion-label position="stacked">Tanggal Pengiriman</ion-label>
          <ion-input
            class="form-input"
            [clearInput]="true"
            placeholder="12 Desember 2022"
          ></ion-input>
        </div>

        <div class="col-12 mb-3">
          <ion-label position="stacked">Vendor</ion-label>
          <app-input-select
            [uri]="'vendor'+'s'"
            [controlName]="'vendor_id'"
            [placeholder]="'Data Vendor'"
          ></app-input-select>
        </div>

        <div class="col-12 mb-3">
          <ion-label position="stacked">Kendaraan</ion-label>
          <app-input-select
            [uri]="'equipment'+'s'"
            [controlName]="'equipment_id'"
            [placeholder]="'Data Kendaraan'"
          ></app-input-select>
        </div>

        <div class="col-12 mb-3">
          <ion-label position="stacked">Warehouse (Gudang)</ion-label>
          <app-input-select
            [uri]="'warehouse'+'s'"
            [controlName]="'warehouse_id'"
            [placeholder]="'Data Gudang'"
          ></app-input-select>
        </div>

        <div class="col-12 mb-3">
          <ion-label position="stacked">Nomor Pengiriman</ion-label>
          <ion-input
            formControlName="docket_number"
            class="form-input"
            placeholder="Ketikkan Nomor Pengiriman disini..."
          ></ion-input>
        </div>

        <div class="col-12 mb-3">
          <ion-label position="stacked">Nomor Pembelian</ion-label>
          <ion-input
            formControlName="purchase_order"
            class="form-input"
            placeholder="Ketikkan Nomor Pembelian disini..."
          ></ion-input>
        </div>

        <div class="col-12 mb-3">
          <ion-label position="stacked">Jumlah Kuantitas</ion-label>
          <ion-input
            formControlName="quantity"
            type="number"
            class="form-input"
            placeholder="Ketikkan Jumlah Volume Solar disini..."
          ></ion-input>
        </div>

        <div class="col-12 mb-3">
          <ion-label position="stacked">Catatan</ion-label>
          <ion-textarea
            formControlName="description"
            class="form-input"
            placeholder="Ketikkan Jumlah Volume Solar disini..."
          ></ion-textarea>
        </div>

        <ion-button type="submit">Simpan Data</ion-button>
      </div>
    </form>
  </div>
</ion-content>
