<ion-router-outlet></ion-router-outlet>
<ion-content [fullscreen]="true">
  <ion-card class="card-header">
    <ion-card-content>
      <div class="d-flex flex-row justify-content-start align-items-center">
        <ion-icon
          name="return-up-back-outline"
          class="text-white"
          style="font-size: 24px; margin-right: 1rem"
          (click)="go('/pages/fuel')"
        ></ion-icon>
        <h5 class="text-white text-w-600">Tambah Pengisian Solar</h5>
        <div class="text-black" hidden>
          <ion-icon name="filter" color="white" class="mx-3"></ion-icon>
          <ion-icon name="search" color="white"></ion-icon>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <div class="container mt-3 mb-3">
    <form [formGroup]="todo" (ngSubmit)="logForm()">
      <div class="row" style="font-size: 14px">
        <!-- Start Production Schedulle -->
        <div class="col-12 mb-3">
          <ion-label position="stacked">Unit Produksi</ion-label>
          <ion-select
            class="select-outline-muted select-muted"
            placeholder="Pilih unit produksi"
          >
            <ion-select-option value="apples">Apples</ion-select-option>
            <ion-select-option value="oranges">Oranges</ion-select-option>
            <ion-select-option value="bananas">Bananas</ion-select-option>
          </ion-select>
        </div>

        <div class="col-12 mb-3 mt-3">
          <ion-label position="stacked">Tanggal Pengisian</ion-label>
          <ion-input
            class="form-input"
            [clearInput]="true"
            placeholder="12 Desember 2022"
          ></ion-input>
        </div>

        <div class="col-12 mb-3">
          <ion-label position="stacked">Warehouse (Gudang)</ion-label>
          <ion-select
            class="select-outline-muted select-muted"
            placeholder="Pilih produk"
          >
            <ion-select-option value="apples">Apples</ion-select-option>
            <ion-select-option value="oranges">Oranges</ion-select-option>
            <ion-select-option value="bananas">Bananas</ion-select-option>
          </ion-select>
        </div>

        <div class="col-12 mb-3">
          <ion-label position="stacked">Driver</ion-label>
          <ion-select
            class="select-outline-muted select-muted"
            placeholder="Pilih nama driver"
          >
            <ion-select-option value="apples">Apples</ion-select-option>
            <ion-select-option value="oranges">Oranges</ion-select-option>
            <ion-select-option value="bananas">Bananas</ion-select-option>
          </ion-select>
        </div>

        <div class="col-12 mb-3">
          <ion-label position="stacked">Kendaraan</ion-label>
          <ion-select
            class="select-outline-muted select-muted"
            placeholder="Pilih nomor kendaraan"
          >
            <ion-select-option value="apples">Apples</ion-select-option>
            <ion-select-option value="oranges">Oranges</ion-select-option>
            <ion-select-option value="bananas">Bananas</ion-select-option>
          </ion-select>
        </div>

        <div class="col-12 mb-3">
          <ion-label position="stacked">Lokasi Proyek</ion-label>
          <ion-select
            class="select-outline-muted select-muted"
            placeholder="Pilih "
          >
            <ion-select-option value="apples">Apples</ion-select-option>
            <ion-select-option value="oranges">Oranges</ion-select-option>
            <ion-select-option value="bananas">Bananas</ion-select-option>
          </ion-select>
        </div>

        <div class="col-12 mb-3">
          <ion-label position="stacked">Total Volume Solar</ion-label>
          <ion-input
            type="number"
            class="form-input"
            placeholder="Ketikkan Total Volume Solar disini..."
          ></ion-input>
        </div>

        <div class="col-12 mb-3">
          <ion-label position="stacked">Flow Meter Awal</ion-label>
          <ion-input
            class="form-input"
            placeholder="Ketikkan Flow Meter Awal disini..."
          ></ion-input>
        </div>

        <div class="col-12 mb-3">
          <ion-label position="stacked">Flow Meter Akhir</ion-label>
          <ion-input
            type="number"
            class="form-input"
            placeholder="Ketikkan Flow Meter Akhir disini..."
          ></ion-input>
        </div>

        <div class="col-12 mb-3">
          <ion-label position="stacked">Catatan</ion-label>
          <ion-textarea
            class="form-input"
            placeholder="Type something here"
          ></ion-textarea>
        </div>

        <ion-button type="submit">Simpan Data</ion-button>
      </div>
    </form>
  </div>
</ion-content>
