<ion-router-outlet></ion-router-outlet>
<app-top-header [title]="'Tambah Pengisian Solar'" [type]="'toolbar-blue'" [withBackButton]="'/pages/fuel'"></app-top-header>

<ion-content [fullscreen]="true">

  <div class="container mt-3 mb-3">
    <form [formGroup]="formData" (ngSubmit)="logForm()">
      <div class="row" style="font-size: 14px">
        <!-- Start Production Schedulle -->
        <div class="col-12 mb-3">
          <ion-label position="stacked" class="required">Unit Produksi</ion-label>
          <app-input-select
            [uri]="'production-units'"
            [controlName]="'production_unit_id'"
            [placeholder]="'Data Plant'"
          ></app-input-select>
        </div>

        <div class="col-12 mb-3 mt-3">
          <ion-label position="stacked">Tanggal Pengisian</ion-label>
          <app-input-date [mode]="'single'" [controlName]="'date'" [disabled]="true"></app-input-date>
        </div>

        <div class="col-12 mb-3">
          <ion-label position="stacked" class="required">Warehouse (Gudang)</ion-label>
          <app-input-select
            [uri]="'warehouses'"
            [controlName]="'warehouse_id'"
            [controlNameArray]="'warehouse_id_array'"
            [placeholder]="'Data Gudang'"
          ></app-input-select>
        </div>

        <div class="col-12 mb-3">
          <ion-label position="stacked" class="required">Driver</ion-label>
          <app-input-select
            [uri]="'drivers'"
            [controlName]="'driver_id'"
            [placeholder]="'Data Driver'"
          ></app-input-select>
        </div>

        <div class="col-12 mb-3">
          <ion-label position="stacked" class="required">Kendaraan</ion-label>
          <app-input-select
            [uri]="'equipments'"
            [controlName]="'equipment_id'"
            [placeholder]="'Data Kendaraan'"
          ></app-input-select>
        </div>

        <div class="col-12 mb-3">
          <ion-label position="stacked" class="required">Lokasi Proyek</ion-label>
          <app-input-select
            [uri]="'customer_projects'"
            [controlName]="'customer_project_id'"
            [placeholder]="'Data Proyek'"
          ></app-input-select>
        </div>

        <div class="col-12 mb-3">
          <ion-label position="stacked" class="required">Total Volume Solar</ion-label>
          <ion-input
            formControlName="quantity"
            type="number"
            class="form-input"
            placeholder="Ketikkan Total Volume Solar disini..."
          ></ion-input>
        </div>

        <div class="col-12 mb-3">
          <ion-label position="stacked">Flow Meter Awal</ion-label>
          <ion-input
            disabled="true"
            formControlName="flow_meter_start"
            class="form-input"
            placeholder="Ketikkan Flow Meter Awal disini..."
          ></ion-input>
        </div>

        <div class="col-12 mb-3">
          <ion-label position="stacked" class="required">Flow Meter Akhir</ion-label>
          <ion-input
            formControlName="flow_meter_end"
            type="number"
            class="form-input"
            placeholder="Ketikkan Flow Meter Akhir disini..."
          ></ion-input>
        </div>

        <div class="col-12 mb-3">
          <ion-label position="stacked">Catatan</ion-label>
          <ion-textarea
            formControlName="description"
            class="form-input"
            placeholder="Type something here"
          ></ion-textarea>
        </div>

        <!-- <ion-button type="submit">Simpan Data</ion-button> -->
      </div>
    </form>
  </div>
</ion-content>
<ion-footer style="padding: 10px; background-color: #ffffff !important">
  <ion-button
    type="submit"
    style="width: 100%"
    (click)="logForm()"
    [disabled]="formData.status != 'VALID'"
    >Simpan Data</ion-button
  >
</ion-footer>
