.map {
  position: relative !important;
  // overflow: visible !important;
  // height: 80%;
  // all: unset !important;
  // height: 300px;
  height: calc(100vh * 0.6);
}

.map div {
  // height: 50% !important;
}

.point {
  height: 15px;
  width: 15px;
  background-color: black;
  border-radius: 15px;
}

.dash-line-vertical {
  width: 1px;
  height: 100%;
  border: 1px dashed #00ab9a;
}

.pl-4 {
  padding-left: 1.5rem;
}

.hr-3 {
  // height: 1.5px;
  width: 100%;
  border: 1.5px dashed #a6a6b7;
}

.text-black {
  color: #3f4254 !important;
}

.logout-button {
  --background: rgb(246, 78, 96, 0.3);
}
.ion-activated {
  --background-activated: rgb(246, 78, 96, 0.5) !important;
  --background-focus: rgb(246, 78, 96, 0.5) !important;
  --background-hover: rgb(246, 78, 96, 0.5) !important;
}
