ion-card {
  margin: 0px;
  border-radius: 10px;
}

.select-corporate {
  // color: #ffff !important;
  // --placeholder-color: #ffff;
  --placeholder-opacity: 1;
}

ion-icon {
  color: #181c32;
  font-size: 20px;
}

.merge-input-icon .input-group-text {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  height: 100%;
  padding-right: 0;
  background-color: #ffff;
}

.merge-input-icon .form-control {
  border-left: none;
}

.merge-input-icon .form-control:focus {
  // border: none !important;
  box-shadow: none;
}

.home-bar-chart {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0px 2px 0px 2px;

  /** Default Property */
  width: 50px;
  height: 50px;
}

.img-avatar {
  height: 50px;
  float: right;
  background-color: transparent;
  // border: none;
}

.text-precentace {
  font-style: normal;
  font-weight: 900;
  font-size: 32.8163px;
  line-height: 49px;
  letter-spacing: 0.01em;

  color: #ff5c00;
}

.text-decimal {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20.013px;
  line-height: 30px;
}

.div-icon {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: linear-gradient(201.18deg, #d3ffe7 3.14%, #effff6 86.04%);
}

.small-icon {
  font-size: 14px;
}

table.fuel-index thead {
  background-color: #E0E8F0;
}

table.fuel-index tr th {
  font-size: 12px;
}

table.fuel-index tr td {
  font-size: 12px;
}
