<ion-router-outlet></ion-router-outlet>
<ion-header>
  <ion-toolbar class="card-header bg-white">
    <div class="row text-center tab">
      <div
        class="col-6 p-3"
        [class]="tab == 'usage' ? 'active' : ''"
        (click)="selectTab('usage')"
      >
        <small>Usage</small>
      </div>
      <div
        class="col-6 p-3"
        [class]="tab == 'income' ? 'active' : ''"
        (click)="selectTab('income')"
      >
        <small>Income</small>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-slides
    #fuelSlider
    pager="false"
    [options]="slideOpts"
    (ionSlideTransitionStart)="onSlide($event)"
    style="justify-content: center; align-items: baseline; min-height: 100%"
  >
    <!-- Tab Usage -->
    <ion-slide>
      <div class="row mt-3" style="font-size: 14px; width: 100%">
        <div class="text-center py-3" *ngIf="dataUsage.length == 0">
          <p>Data Kosong</p>
        </div>

        <!-- Start Production Schedulle -->
        <div
          *ngFor="let item of dataUsage; let i = index"
          class="col-12 bg-{{ i%2 == 0 ? 'light' : 'white' }} px-6 py-3"
          (click)="go('/pages/fuel/detail/usage?id='+item?.id)"
        >
          <div class="d-flex justify-content-between align-items-center">
            <div style="text-align: start">
              <p class="text-muted mb-0">
                {{ item.date | date }} {{ item.equipment_category_id_name }}
              </p>
              <p class="mb-0 text-w-700">
                {{ item.equipment_id_code }}, {{
                item.equipment_id_vehicle_number ?
                item.equipment_id_vehicle_number : '-' }}
              </p>
              <p class="text-sm mb-0">
                {{ item.customer_project_id_name }}, {{ item.driver_id_name }}
              </p>
            </div>
            <div style="text-align: right">
              <p class="mb-0 text-w-700 text-primary">{{ item.quantity }}</p>
              <p class="mb-0 text-primary">Liter</p>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>

    <!-- Tab Income -->
    <ion-slide>
      <div class="row mt-3" style="font-size: 14px; width: 100%">
        <div class="text-center py-3" *ngIf="dataIncome.length == 0">
          <p>Data Kosong</p>
        </div>
        <!-- Start Production Schedulle -->
        <div
          *ngFor="let item of dataIncome; let i = index"
          class="col-12 bg-{{ i%2 == 0 ? 'light' : 'white' }} px-6 py-3"
          (click)="go('/pages/fuel/detail/income?id='+item?.id)"
        >
          <div class="d-flex justify-content-between align-items-center">
            <div style="text-align: start">
              <p class="text-muted mb-0">
                {{ item?.date | date }} <b>{{ item?.equipment_id_code }}</b>
              </p>
              <p class="mb-0 text-w-700">{{ item?.docket_number }}</p>
              <p class="text-sm mb-0">
                {{ item?.vendor_id_name }}, {{ item.equipment_id_vehicle_number
                }}
              </p>
            </div>
            <div style="text-align: right">
              <p class="mb-0 text-w-700 text-primary">{{ item?.quantity }}</p>
              <p class="mb-0 text-primary">Liter</p>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-infinite-scroll (ionInfinite)="getMoreData($event)" style="height: 1px;">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- Button Add -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-button class="text-white" [routerLink]="[addPage]">
      <ion-icon name="add-circle-outline" class="text-white"></ion-icon> Tambah
    </ion-button>
  </ion-fab>
</ion-content>
